.bg-clr{
    background: #e3f2fd !important;
}
.navbar img{
    width: 30px;
}
.section1 nav ul {
    background: rgba(0, 0, 0, 0.199) !important;
}

.carousel-item img{
    height: 400px;
}